# Virtual environment
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.sqlite3-journal

# Static collected files (generated in build)
staticfiles/

# System and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
